<div class="wrap">
<p id="notice"><%= notice %></p>

<div class="text">
	<h1>Rails Scheduler</h1>
	<hr>
</div>
<br />
<br>

<div class="schedule" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
	<h2 class="time-slot" style="grid-column: times; grid-row: time-0500;">5:00am</h2>
  <h2 class="time-slot" style="grid-column: times; grid-row: time-0600;">6:00am</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-0700;">7:00 am</h2>
  <h2 class="time-slot" style="grid-column: times; grid-row: time-0800;">8:00 am</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-0900;">9:00 am</h2>
  <h2 class="time-slot" style="grid-column: times; grid-row: time-1000;">10:00 am</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-1100;">11:00 am</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-1200;">12:00 pm</h2>
  <h2 class="time-slot" style="grid-column: times; grid-row: time-0100;">1:00 pm</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-0200;">2:00 pm</h2>
	<h2 class="time-slot" style="grid-column: times; grid-row: time-0300;">3:00 pm</h2>
  <h2 class="time-slot" style="grid-column: times; grid-row: time-0400;">4:00 pm</h2>


  <% @technicians.each do |technician| %>
    <span class="track-slot" aria-hidden="true" style='grid-row: tracks; grid-column: track-<%= technician.id %>'> 
      <%= technician.name %>
  </span>
  <% technician.workorders.each do |workorder| %>
	  <div class='session session-<%= technician.id %> track-<%= technician.id %> workorder-<%= workorder.time.strftime("%I%M") %>' style='grid-column: track-<%= technician.id %>; grid-row: time-<%= workorder.time.strftime("%I%M") %> / time-<%= (workorder.time + workorder.duration*60).strftime("%I%M") %>;'>
      <div class="title-orders"> <%= workorder.time.strftime("%l:%M%P") %> - <%= (workorder.time + workorder.duration*60).strftime("%l:%M%P") %> </div>
      Location: <%= workorder.location.name %> in <%= workorder.location.city %>
      <span class="track">Price: $<%= workorder.price %></span> 
      
	  </div>
 

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MY MODAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Next Appointment is:
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 
<%end%>

<%end %>

	


</div>


 </div>
