<p id="notice"><%= notice %></p>

<div class="text">
	
	<h1>Rails Scheduler</h1>
	
	<hr>
	
</div>



</div>
<div class="grid">
  <% @technicians.each do |technician| %>
    <div class="grid-template-columns">
        <h1> <%= technician.name %> </h1>
          <% technician.workorders.each do |workorder| %>
            <h2>Work Order Details </h2>
            <div><strong>TIME: </strong> <%= workorder.time %></div>
            <div><strong>PRICE: </strong> <%= workorder.price %></div>
            <div><strong>DURATION: </strong> <%= workorder.duration %></div>
            <div><strong>LOCATION: </strong> <%= workorder.location.name %></div>
            <div><strong>LOCATION CITY: </strong> <%= workorder.location.city %></div>
          <% end %>
     </div>
  <% end %>
</div>


<br>

