<p id="notice"><%= notice %></p>

<div class="text">
	
	<h1>Rails Scheduler</h1>
	
	<hr>
	
</div>

<section class="section">
  <div class="container m-t-20">
    <div id="calendar"></div>
  </div>
</section>


<section class="section">
   <div id="calendar"></div>
</section>
<script>

  $(function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new Calendar(calendarEl, {
      header: {
        left: 'prev,next',
        right: 'dayGridMonth, listMonth'
      },

      plugins: [ dayGridPlugin, listPlugin ],
      defaultView: 'dayGridMonth'
    });

    calendar.render();
  });
</script>

</div>
<div class="grid">
  <% @technicians.each do |technician| %>
    <div class="grid-template-columns">
        <h1> <%= technician.name %> </h1>
          <% technician.workorders.each do |workorder| %>
            <h2>Work Order Details </h2>
            <div><strong>TIME: </strong> <%= workorder.time %></div>
            <div><strong>PRICE: </strong> <%= workorder.price %></div>
            <div><strong>DURATION: </strong> <%= workorder.duration %></div>
            <div><strong>LOCATION: </strong> <%= workorder.location.name %></div>
            <div><strong>LOCATION CITY: </strong> <%= workorder.location.city %></div>
          <% end %>
     </div>
  <% end %>
</div>


<br>

